@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 0.8em;
  font-weight: 700;
  background-color: oklch(98.5% 0.001 106.423);
  color: oklch(20.8% 0.042 265.755);
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-transition: border-color 0.25s;
  -moz-transition: border-color 0.25s;
  -ms-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
}
a:hover{
  color: #fcff59;
}
button:hover {
  background-color: #252525;
  color: #fcff59;
  border-color: #fcff59;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
